.updateFormContainer_main {
    width: 780px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: a옛날사진관3;
}

.updateFormMsg {
    margin: 15px 0px 30px 0px;
    font-family: a옛날사진관3;
    font-size: 11.5pt;
    /* text-align: center; */
    float: left; 
}

.panel {
    width: 450px;
    text-align: center;
    /* position: relative;  */
    float: left;
}

.updateFormTitle {
    float: left;
    font-family: a옛날사진관3;
    font-size: 10pt;
    font-weight: bold;
    width: 150px;
    text-align: left;
}

.genderDiv {
    display: flex;
    margin-top: 22px;
    font-size: 11.5pt;
}

.ad {    
    width: 250px;
    height: 600px;
    float: right;
    margin-top: 95px;
    
}

.updateBtn {
    width: 205px;
}
